## 辦公室自動化(09/11)

In [7]:
a = 3
a
b = 4
b
print("a =", a)
print("b =", b)

a = 3
b = 4

In [8]:
2-1

1

In [9]:
1+1

2

// 取商數

In [10]:
7//3

2

In [12]:
-1%3

2

因為-1距離3有兩個單位(-2 -1 0 1 2 3)

In [13]:
2**3

8

先乘除後加減，()可以改變運算順序

In [14]:
4+5*2

14

In [15]:
(4+5)*2

18

In [16]:
type(2)

int

In [17]:
type(2.5)

float

資料型態轉換

In [20]:
# print(int("2.38")) 浮點數字串不能轉換為整數
print(int("2"))

2

In [22]:
(x, y) = (12, 35)
print(x, y)

12 35

In [27]:
(a, b) = (45, 35)
a+=a
print(a)
b = b+b
print(b)

90
70

In [28]:
(i, n, t) = (1, 2, 3)
(i_2, n_2, t_2) = (1, 2, 3)
i+=i
i_2-=i_2

n*=n
n_2**=n_2

t/=t
t_2%=t_2

print(i, n, t, i_2, n_2, t_2)

2 4 1.0 0 4 0

string練習

In [29]:
a = "hello"
b = 'hello'
print(type(a), type(b))

<class 'str'> <class 'str'>

In [30]:
a = "hello"
b = 'hello'
print(a+b)

hellohello

In [32]:
a = str(5)
print(a*5)

55555

input()練習

In [33]:
inp = input("輸入數字")
print(inp)
print(type(inp))

輸入數字60
60
<class 'str'>

eval運用

In [38]:
i = int(input("輸入數學成績"))
n = int(input("輸入國文成績"))
t = int(input("輸入英文成績"))

sum = (i+n+t)
avg = (sum/3)

print("數學成績:", i)
print("國文成績:", n)
print("英文成績:", t)
print("總成績為:{} 平均分數:{}".format(sum, avg))

輸入數學成績60
輸入國文成績60
輸入英文成績100
數學成績: 60
國文成績: 60
英文成績: 100
總成績為:220 平均分數:73.33333333333333