## 辦公室自動化(09/18)

In [2596]:
# ChatGPT
def print_multiplication_table():
    for i in range(1, 10):
        for j in range(1, i + 1):
            print(f"{j} * {i} = {i * j:2}", end="\t")
        print()  # 換行

print_multiplication_table()

1 * 1 =  1
1 * 2 =  2	2 * 2 =  4
1 * 3 =  3	2 * 3 =  6	3 * 3 =  9
1 * 4 =  4	2 * 4 =  8	3 * 4 = 12	4 * 4 = 16
1 * 5 =  5	2 * 5 = 10	3 * 5 = 15	4 * 5 = 20	5 * 5 = 25
1 * 6 =  6	2 * 6 = 12	3 * 6 = 18	4 * 6 = 24	5 * 6 = 30	6 * 6 = 36
1 * 7 =  7	2 * 7 = 14	3 * 7 = 21	4 * 7 = 28	5 * 7 = 35	6 * 7 = 42	7 * 7 = 49
1 * 8 =  8	2 * 8 = 16	3 * 8 = 24	4 * 8 = 32	5 * 8 = 40	6 * 8 = 48	7 * 8 = 56	8 * 8 = 64
1 * 9 =  9	2 * 9 = 18	3 * 9 = 27	4 * 9 = 36	5 * 9 = 45	6 * 9 = 54	7 * 9 = 63	8 * 9 = 72	9 * 9 = 81

In [2597]:
# Gemini
for i in range(1, 10):
  for j in range(1, 10):
    print(f'{i} x {j} = {i*j}')

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [2598]:
# ChatGPT
'''
#include <iostream>
#include <iomanip> // 用於設置輸出格式

int main() {
    for (int i = 1; i <= 9; ++i) {
        for (int j = 1; j <= i; ++j) {
            std::cout << j << " * " << i << " = " << std::setw(2) << (i * j) << "\t";
        }
        std::cout << std::endl; // 換行
    }
    return 0;
}
'''

'\n#include <iostream>\n#include <iomanip> // 用於設置輸出格式\n\nint main() {\n    for (int i = 1; i <= 9; ++i) {\n        for (int j = 1; j <= i; ++j) {\n            std::cout << j << " * " << i << " = " << std::setw(2) << (i * j) << "\t";\n        }\n        std::cout << std::endl; // 換行\n    }\n    return 0;\n}\n'

### 電腦的組成
CPU
RAM
Motherboard
GPU
SSD(HDD)
PSU
IO

In [2599]:
order_volume = 899
order_volume

899

In [2600]:
order_volume = 891
order_volume

891

In [2601]:
# 變數名稱區分大小寫
Order_volume = 998
print(order_volume)
print(Order_volume)

891
998

In [2602]:
import math
math.modf(-12.439)  # 將小數點與整數區分開

(-0.43900000000000006, -12.0)

In [2603]:
print(math.cos(1))
print(math.sqrt(99))

0.5403023058681398
9.9498743710662

In [2604]:
str_1 = "hello world "
str_2 = '你好 python '

In [2605]:
str_3 = str_1 + "from VScode"

In [2606]:
str_1*2

'hello world hello world '

In [2607]:
print(str_1)
str_1*=2
print(str_1)

hello world
hello world hello world

In [2608]:
str_1[:3]
# h e l l o  w o r l d    h  e  l  l  o  w  o  r  l  d  
# 0 1 2 3 4  5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21

'hel'

In [2609]:
# string禁止修改內容
'''
str_2[3] = 'Q'
'''

"\nstr_2[3] = 'Q'\n"

In [2610]:
print(str_1[:])
print(str_1[1:])
print(str_1[-20:-10])
print(str_1[0:21:2])
print(str_1[21:0:-2])

hello world hello world
ello world hello world
o world he
hlowrdhlowr
lo le lo le

In [2611]:
"python" in str_2

True

### list 練習

In [2612]:
list_1 = ["order_region", 2019, 2020]
list_2 = [289, 258, 191, 153]
list_3 = ["order_south", "order_north", "order_east", "order_west"]

In [2613]:
list_1

['order_region', 2019, 2020]

In [2614]:
type(list_1)

list

In [2615]:
list_3[1:3]

['order_north', 'order_east']

In [2616]:
list_1[1] = "2019年"
list_1

['order_region', '2019年', 2020]

In [2617]:
del list_1[1]
list_1

['order_region', 2020]

In [2618]:
list_1.append("2021")
list_1

['order_region', 2020, '2021']

In [2619]:
print(list_1[1])
print(type(list_1[1]))
print(list_1[-1])
print(type(list_1[-1]))

2020
<class 'int'>
2021
<class 'str'>

### tuple 練習

In [2620]:
tup_1 = ("order_region", 2019, 2020)
tup_2 = (289, 258, 191, 153)
tup_3 = ("order_south", "order_north", "order_east", "order_west")

In [2621]:
tup_1

('order_region', 2019, 2020)

In [2622]:
# 只有一個內容，tuple依然需要加,
tup_4 = (128)
print(tup_4)
print(type(tup_4))
tup_4 = (128, )
print(tup_4)
print(type(tup_4))

128
<class 'int'>
(128,)
<class 'tuple'>

In [2623]:
tup_3[1:3]

('order_north', 'order_east')

In [2624]:
tup_5 = tup_1 + tup_2 + tup_3
tup_5

('order_region',
 2019,
 2020,
 289,
 258,
 191,
 153,
 'order_south',
 'order_north',
 'order_east',
 'order_west')

In [2625]:
# del tup_5[0]，tuple不可以del或append

### set 集合，{}

In [2626]:
order_oct = {"hello", "C++", "Python", "VScode"}
order_nov = {"hello", "world", "C#", "Java", "Vim"}
order_oct

{'C++', 'Python', 'VScode', 'hello'}

In [2627]:
print(order_oct & order_nov)
print(order_oct | order_nov)
print(order_oct ^ order_nov)

{'hello'}
{'world', 'C#', 'Python', 'hello', 'VScode', 'Vim', 'C++', 'Java'}
{'world', 'VScode', 'Vim', 'Python', 'C#', 'C++', 'Java'}

In [2628]:
print(ord("紙"))
print(ord("器"))
print(ord("椅"))

32025
22120
26885

### 字典 dictionary

In [2629]:
dict1 = {'order_volume': 291}
dict2 = {'order_volume': 291, 2020:3}
dict3 = {'order_south':289,'order_north':258,'order_east':191,'order_west':153}
dict1

{'order_volume': 291}

In [2630]:
type(dict1)

dict

In [2631]:
dict3['order_north']

258

In [2632]:
fruits = {"banana":"香蕉", "orange":"橘子", "strawberry":"草莓", "apple":"蘋果"}
fruits

{'banana': '香蕉', 'orange': '橘子', 'strawberry': '草莓', 'apple': '蘋果'}

In [2633]:
fruits['banana']

'香蕉'

In [2634]:
fruits['pineapple'] = "鳳梨"
fruits['lemon'] = "檸檬"
fruits

{'banana': '香蕉',
 'orange': '橘子',
 'strawberry': '草莓',
 'apple': '蘋果',
 'pineapple': '鳳梨',
 'lemon': '檸檬'}

In [2635]:
del fruits['strawberry']
fruits

{'banana': '香蕉',
 'orange': '橘子',
 'apple': '蘋果',
 'pineapple': '鳳梨',
 'lemon': '檸檬'}

In [2636]:
fruits.clear()
fruits

{}

## 流程控制

for loop and while loop

In [2637]:
print(list(range(1, 10)))
print(list(range(10)))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2638]:
sum = 0
for i in range(0, 10):
    sum+=i
print(sum)

45

## 0918作業

In [2639]:
fruits = {'香蕉':'banana', '橘子':'orange', '草莓':'strawberry', '蘋果':'apple', '鳳梨':'pineapple', '檸檬':'lemon'}

print(fruits.keys())
print(fruits.values())

dict_keys(['香蕉', '橘子', '草莓', '蘋果', '鳳梨', '檸檬'])
dict_values(['banana', 'orange', 'strawberry', 'apple', 'pineapple', 'lemon'])

In [2640]:
for i in fruits.keys():
    print(fruits[i])

banana
orange
strawberry
apple
pineapple
lemon